@import 'tailwindcss';

@theme {
    --color-background: #222;
    --color-header: #000000;
    --color-body: #ddd;
    --color-highlight: #CD853F;

    --max-width-container: 1400px;

}

@font-face {
    font-family: "sen";
    src: url("public/fonts/Sen/Sen-VariableFont_wght.ttf");
}

@font-face {
    font-family: "mulish";
    src: url("public/fonts/Mulish-VariableFont_wght.ttf");
}

@font-face {
    font-family: "elounda";
    src: url("public/fonts/Elounda-Regular.ttf");
}

@layer components {
    .back-z {
        @apply -z-90;
    }

    .background-z {
        @apply -z-80;
    }

    .midground-z {
        @apply z-0;
    }

    .foreground-z {
        @apply z-80;
    }

    .front-z {
        @apply z-90;
    }

    .background {
        /* background: var(--color-background); */
        background: 
            radial-gradient(ellipse 120% 80% at 20% 10%, 
                #2e353c 0%, 
                #121416 30%, 
                transparent 60%),
            radial-gradient(ellipse 120% 80% at 80% 90%, 
                #2e353c 0%, 
                #121416 30%, 
                transparent 60%),
            #000000;
    }

    .section-container {
        @apply mx-auto;
        max-width: var(--max-width-container);
    }

    .section-container-md {
        @apply mx-auto;
        max-width: calc(var(--max-width-container) - 150px);
    }

    .section-container-sm {
        @apply mx-auto;
        max-width: calc(var(--max-width-container) - 300px);
    }

    .section-container-xs {
        @apply mx-auto;
        max-width: calc(var(--max-width-container) - 500px);
    }

    .font-body {
        @apply tracking-wide;
        font-family: "mulish";
        font-weight: 500;
    }

    .font-logo {
        @apply tracking-wide;
        font-family: "sen";
        font-weight: 600;
        font-size: 28px;
    }

    .font-button {
        @apply tracking-wide;
        font-family: "sen";
        font-weight: 500;
        font-size: 28px;
    }

    .button-full {
        @apply border-2 border-neutral-300 px-8 py-4 rounded-sm transition-all bg-neutral-300 text-neutral-900 text-xl font-semibold cursor-pointer;
    }

    .button-outline {
        @apply border-2 border-neutral-300 px-8 py-4 rounded-sm transition-all bg-transparent text-neutral-300 text-xl font-semibold cursor-pointer;
    }

    .content-title {
        @apply text-6xl bg-gradient-to-r from-neutral-50 to-neutral-400 bg-clip-text text-transparent py-2;
        font-family: "mulish";
        font-weight: 600;
    }

    .content-subtitle {
        @apply text-3xl text-neutral-400;
        font-family: "mulish";
        font-weight: 500;
    }

    .content-miniheading {
        @apply text-xl tracking-widest text-neutral-400;
        font-family: "mulish";
        font-weight: 600;
    }

    .content-body {
        @apply text-xl tracking-wide text-neutral-300;
        font-family: "mulish";
        font-weight: 400;
        text-shadow: 0 0 2px black;
    }

    .bento-card {
        @apply p-6 border-2 border-[rgb(255,255,255,0.01)] shadow-sm shadow-[rgb(0,0,0,0.1)] rounded-md;
        background: radial-gradient(circle at center,rgba(22, 22, 22, 1) 0%,rgba(15, 15, 15, 1) 100%);
    }

    .section-start-area {
        @apply min-h-screen flex flex-col justify-center items-center bg-black/90 gap-8 relative;
    }

    .corner-glow {
        @apply absolute bottom-0 right-0 w-12 h-12 bg-[#d8af41] blur-sm -z-50;
    }

    .corner-glow-lit {
        @apply absolute -bottom-[1.5px] -right-[1.5px] w-12 h-12 bg-[#d9cdad77] rounded-md -z-49;
    }

    .logo-blur {
        @apply w-[500px] brightness-10 contrast-95 blur-xl;
    }

    .text-link {
        @apply underline underline-offset-3 transition-all hover:text-neutral-400;
    }

}