@import 'tailwindcss';

@theme {
    --color-background: #222;
    --color-header: #000000;
    --color-body: #ddd;
    --color-highlight: #CD853F;

    --max-width-container: 1400px;

}

@font-face {
    font-family: "sen";
    src: url("/fonts/Sen/Sen-VariableFont_wght.ttf");
}

@font-face {
    font-family: "mulish";
    src: url("/fonts/Mulish-VariableFont_wght.ttf");
}

@font-face {
    font-family: "elounda";
    src: url("/fonts/Elounda-Regular.ttf");
}

@layer components {
    .back-z {
        @apply -z-90;
    }

    .background-z {
        @apply -z-80;
    }

    .midground-z {
        @apply z-0;
    }

    .foreground-z {
        @apply z-80;
    }

    .front-z {
        @apply z-90;
    }

    .min-h-main {
        min-height: 100svh;
    }

    .background {
        /* background: var(--color-background); */
        background: 
            radial-gradient(ellipse 120% 80% at 20% 10%, 
                #2e353c 0%, 
                #121416 30%, 
                transparent 60%),
            radial-gradient(ellipse 120% 80% at 80% 90%, 
                #2e353c 0%, 
                #121416 30%, 
                transparent 60%),
            #000000;
    }

    .section-container {
        @apply mx-auto px-8 2xl:px-0;
        max-width: var(--max-width-container);
    }

    .section-container-md {
        @apply mx-auto;
        max-width: calc(var(--max-width-container) - 150px);
    }

    .section-container-sm {
        @apply mx-auto;
        max-width: calc(var(--max-width-container) - 300px);
    }

    .section-container-xs {
        @apply mx-auto;
        max-width: calc(var(--max-width-container) - 500px);
    }

    .section-start-area {
        @apply px-8 sm:px-4 min-h-svh flex flex-col justify-center items-center bg-black/90 gap-8 relative;
    }

    .font-body {
        @apply tracking-wide;
        font-family: "mulish";
        font-weight: 500;
    }

    .font-logo {
        @apply tracking-wide;
        font-family: "sen";
        font-weight: 600;
        font-size: 28px;
    }

    .font-button {
        @apply tracking-wide;
        font-family: "sen";
        font-weight: 500;
        font-size: 28px;
    }

    .button-full {
        @apply border-2 border-neutral-300 px-4 py-2 text-center text-base sm:text-lg sm:px-6 sm:py-3 lg:px-8 lg:py-4 rounded-sm transition-all bg-neutral-300 text-neutral-900 lg:text-xl font-semibold cursor-pointer;
    }

    .button-outline {
        @apply border-2 border-neutral-300  px-4 py-2 text-center text-base sm:text-lg sm:px-6 sm:py-3 lg:px-8 lg:py-4 rounded-sm transition-all bg-transparent text-neutral-300 lg:text-xl font-semibold cursor-pointer;
    }

    .hero-content-title {
        @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl bg-gradient-to-r from-neutral-50 to-neutral-400 bg-clip-text text-transparent py-2;
        font-family: "mulish";
        font-weight: 500;
    }

    .hero-content-subtitle {
        @apply text-xl md:text-2xl text-neutral-400;
        font-family: "mulish";
        font-weight: 500;
    }

    .content-title {
        @apply text-4xl md:text-5xl lg:text-6xl bg-gradient-to-r from-neutral-50 to-neutral-400 bg-clip-text text-transparent py-2;
        font-family: "mulish";
        font-weight: 500;
    }

    .content-subtitle {
        @apply text-2xl lg:text-3xl text-neutral-400;
        font-family: "mulish";
        font-weight: 500;
    }

    .content-miniheading {
        @apply text-sm sm:text-base md:text-lg lg:text-xl tracking-widest text-neutral-400;
        font-family: "mulish";
        font-weight: 600;
    }

    .content-body {
        @apply text-sm sm:text-base md:text-lg lg:text-xl tracking-wide text-neutral-300;
        font-family: "mulish";
        font-weight: 400;
        text-shadow: 0 0 2px black;
    }

    .bento-card {
        @apply p-4 sm:p-6 border-2 border-[rgb(255,255,255,0.01)] shadow-sm shadow-[rgb(0,0,0,0.1)] rounded-md;
        background: radial-gradient(circle at center,rgba(22, 22, 22, 1) 0%,rgba(15, 15, 15, 1) 100%);
    }

    .corner-glow {
        @apply absolute bottom-0 right-0 w-12 h-12 bg-[#d8af41] blur-sm -z-50;
    }

    .corner-glow-lit {
        @apply absolute -bottom-[1.5px] -right-[1.5px] w-12 h-12 bg-[#d9cdad77] rounded-md -z-49;
    }

    .logo-blur {
        @apply w-[300px] min-w-[300px] sm:min-w-[500px] brightness-10 contrast-95 blur-xl;
    }

    .text-link {
        @apply underline underline-offset-3 transition-all hover:text-neutral-400;
    }

    .nav-link {
        position: relative;
        padding-bottom: 5px;
    }

    .nav-link::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 00%;
        height: 2px;
        border-radius: 20px;
        background: linear-gradient(90deg, #d8af41aa 40%, #d9cdad00);
        transition: all 0.1s ease;
    }

    .nav-link:hover::after {
        width: 100%;
    }

}