@import 'tailwindcss';

@theme {
    --color-background: #222;
    --color-header: #000000;
    --color-body: #ddd;
    --color-highlight: #cd853f;
    --main-color: #ecd9a8;

    --max-width-container: 1400px;
}

@font-face {
    font-family: 'sen';
    src: url('/fonts/Sen/Sen-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'mulish';
    src: url('/fonts/Mulish-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'elounda';
    src: url('/fonts/Elounda-Regular.ttf');
}

@font-face {
    font-family: 'clash';
    src: url('/fonts/ClashGrotesk-Variable.ttf');
}

@font-face {
    font-family: 'redhat';
    src: url('/fonts/RedHatDisplay-VariableFont_wght.ttf');
}

@layer components {
    .back-z {
        @apply -z-90;
    }

    .background-z {
        @apply -z-80;
    }

    .midground-z {
        @apply z-0;
    }

    .foreground-z {
        @apply z-80;
    }

    .front-z {
        @apply z-90;
    }

    .min-h-main {
        min-height: 100dvh;
    }

    .background {
        /* background: var(--color-background); */
        background:
            radial-gradient(ellipse 120% 80% at 20% 10%, #2e353c 0%, #121416 30%, transparent 60%),
            radial-gradient(ellipse 120% 80% at 80% 90%, #2e353c 0%, #121416 30%, transparent 60%), #000000;
    }

    .section-container {
        @apply mx-auto px-8 2xl:px-0;
        max-width: var(--max-width-container);
    }

    .section-container-md {
        @apply mx-auto px-8 2xl:px-0;
        max-width: calc(var(--max-width-container) - 150px);
    }

    .section-container-sm {
        @apply mx-auto md:px-8 2xl:px-0;
        max-width: calc(var(--max-width-container) - 300px);
    }

    .section-container-xs {
        @apply mx-auto px-8 2xl:px-0;
        max-width: calc(var(--max-width-container) - 500px);
    }

    .section-start-area {
        @apply relative flex flex-col items-center justify-center gap-8 bg-black px-8 shadow-lg shadow-black/40 overflow-hidden sm:px-4 min-h-[calc(100vh-140px)] sm:min-h-[calc(100vh-40px)];
    }

    .section-start-area::after {
        @apply bg-gradient-to-r from-transparent via-[var(--main-color)] to-transparent absolute bottom-0 w-[60%] h-0.5;
        content: "";
    }

    .font-body {
        @apply tracking-wide;
        font-family: 'redhat';
        font-weight: 500;
    }

    .font-logo {
        @apply tracking-wider;
        font-family: 'redhat';
        font-weight: 700;
        font-size: 28px;
    }

    .font-button {
        @apply tracking-widest;
        font-family: 'redhat';
        font-weight: 600;
    }

    .scrollbar-custom {
        @apply [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:bg-neutral-500 [&::-webkit-scrollbar-track]:bg-neutral-800;
    }

    .button-full {
        @apply cursor-pointer rounded-sm border-2 border-neutral-300 bg-neutral-300 px-4 py-2 text-center text-neutral-900 transition-all sm:px-6 sm:py-3 sm:text-lg lg:px-8 lg:py-4 lg:text-xl;
    }

    .button-outline {
        @apply cursor-pointer rounded-sm border-2 border-neutral-300 bg-transparent px-4 py-2 text-center text-neutral-300 transition-all sm:px-6 sm:py-3 sm:text-lg lg:px-8 lg:py-4 lg:text-xl;
    }

    .hero-content-title {
        @apply bg-gradient-to-r from-neutral-50 to-neutral-400 bg-clip-text py-2 text-4xl text-transparent sm:text-5xl md:text-6xl lg:text-7xl;
        font-family: 'redhat';
        font-weight: 500;
    }

    .hero-content-subtitle {
        @apply text-xl text-neutral-400 md:text-2xl tracking-wide;
        font-family: 'redhat';
        font-weight: 500;
    }

    .content-title {
        @apply bg-gradient-to-r from-neutral-50 to-neutral-400 bg-clip-text py-2 text-4xl text-transparent sm:text-5xl lg:text-6xl;
        font-family: 'redhat';
        font-weight: 500;
    }

    .content-subtitle {
        @apply text-xl text-neutral-400 lg:text-2xl;
        font-family: 'redhat';
        font-weight: 500;
    }

    .content-miniheading {
        @apply text-sm tracking-widest text-neutral-400 sm:text-base md:text-lg lg:text-xl;
        font-family: 'redhat';
        font-weight: 600;
    }

    .content-body {
        @apply text-sm tracking-wide text-neutral-300 sm:text-base md:text-lg;
        font-family: 'mulish';
        font-weight: 400;
        text-shadow: 0 0 2px black;
    }

    .bento-card {
        @apply rounded-md p-4 shadow-md shadow-[rgb(0,0,0,0.2)] sm:p-6;
        background: radial-gradient(circle at center, rgba(18, 18, 18, 1) 0%, rgba(12, 12, 12, 1) 100%);
    }

    .separator-glow {
        @apply bg-gradient-to-t from-transparent via-[var(--main-color)] to-transparent;
    }

    .separator {
        @apply h-0.5 w-full rounded-[50%] bg-gradient-to-r from-transparent via-[var(--main-color)] to-transparent;
    }

    .bento-separator {
        @apply bg-gradient-to-r from-[var(--main-color)] to-transparent;
    }

    .corner-glow {
        @apply absolute right-0 bottom-0 -z-50 h-12 w-12 bg-[var(--main-color)] blur-sm;
    }

    .corner-glow-lit {
        @apply absolute -right-[1.5px] -bottom-[1.5px] -z-49 h-12 w-12 rounded-md bg-[var(--main-color)]/40;
    }

    .logo-blur {
        @apply w-[300px] min-w-[300px] blur-xl brightness-10 contrast-95 sm:min-w-[500px];
    }

    .text-link {
        @apply underline underline-offset-3 transition-all hover:text-neutral-400;
    }

    .nav-link {
        position: relative;
        padding-bottom: 5px;
    }

    .nav-link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 00%;
        height: 2px;
        border-radius: 20px;
        background: linear-gradient(90deg, var(--main-color) 40%, #d9cdad00);
        transition: all 0.1s ease;
        opacity: 70%;
    }

    .nav-link:hover::after {
        width: 100%;
    }
}
